.card-page
	background-color: #f1f4f9

	h1
		margin-bottom: 30px

	.hero
		padding-bottom: 140px !important
		margin-bottom: -40px

	.card-window
		padding-top: 0

	.thanks-window
		background: none

.card-window
	padding-bottom: 0

	
	&__wrap
		position: relative
		margin-bottom: 50px
		padding: 0
		background-color: #fff
		display: flex
		flex-direction: row
		z-index: 1
		&::before
			content: ""
			position: absolute
			top: -10px
			width: 96%
			z-index: -1
			background: rgba(255, 255, 255, .7)

		&::after
			content: ""
			position: absolute
			top: -20px
			width: 93%
			z-index: -1
			background: rgba(255, 255, 255, .4)

	.bg
		position: absolute
		top: -30px
		width: 90%
		height: 40px
		border-radius: 10px
		z-index: -1
		background: rgba(255, 255, 255, .2)

	.btn
		background-color: #f2f5f8
		color: #666
		border: 1px solid #dddfe0
		padding: 0 30px
		font-size: 12px
		font-weight: 400
		&:hover
			border-color: #666
			box-shadow: 0 3px 0 rgba(0, 0, 0, .1)
		&:focus
			border-color: #666
			box-shadow: 0 3px 0 rgba(0, 0, 0, .1)
	.content
		padding: 35px 65px 50px
		width: 70%

		img
			height: auto

		h3
			position: relative
			font-size: 24px
			color: #011633
			margin-bottom: 20px
			&::before
				content: ""
				position: absolute
				bottom: -10px
				width: 50px
				height: 2px
				background-color: #0247a7
		&__text
			p
				margin-bottom: 10px
				font-weight: 300
				font-size: 14px
				color: #636363

			a
				display: flex
				justify-content: flex-end
				font-size: 14px
				color: #0247a7
				text-transform: uppercase
				text-decoration: underline
				&:hover
					text-decoration: none
				&:focus
					text-decoration: none

		&__line
			display: flex
			justify-content: space-between
			&_top
				display: flex
				flex-direction: column
				align-items: flex-end

	.stars-line
		display: flex
		margin-bottom: 30px
		p, div
			margin-right: 10px

	.map
		width: 100%
		max-width: 430px
		height: 400px
	


.card-testimonial
	padding-bottom: 100px
	background-color: #f1f4f9

	.line
		padding-right: 30px

	h2
		margin-bottom: 10px
		font-size: 36px
		color: #011f49	
		font-weight: 300
		position: relative
		&:before
			position: absolute
			content: ''
			bottom: 0
			left: 0
			width: 100px
			height: 2px
			background-color: #012f6e	
	.left-block
		margin-bottom: 25px
		border: 1px solid #dee0e0
		background: #fff
		padding: 30px 25px 70px 25px
		border-radius: 15px		
	.top-line
		flex-direction: row
		display: flex
		justify-content: space-between
		margin-bottom: 30px
		img
			height: 50px
			width: 50px		
	.stars-line
		
		display: flex
		flex-direction: column
		p
			color: #666
			font-size: 18px
			font-weight: 400
			text-align: right	
		img
			height: 15px
			width: 15px		
	.content
		strong
			color: #192d49
			font-size: 18px
			font-weight: 400
		p
			color: #192d49
			font-size: 16px
			font-weight: 100	
			margin-bottom: 25px
		time			
			color: #192d49
			font-size: 14px
			font-weight: 100

	.right-block
		margin-bottom: 25px
		padding: 35px 60px
		border: 1px solid #dee0e0
		background: #fff
		border-radius: 15px
		.top-line
			margin-bottom: 15px
		.line-block
			margin-bottom: 10px
			display: flex
			flex-direction: row
			align-items: center
			a
				img
					height: 25px
					width: 25px
			.like
						
			p
				color: #636363		
				font-size: 16px
				margin-right: 15px
			span

				color: #5ca64d
				font-size: 18px
				font-weight: 400
				margin-right: 15px
				display: block
				margin-left: 5px
			.second-span
				color: #ef3838
				font-size: 18px
				font-weight: 400	
		.content
			p
				color: #636363
				font-size: 12px
				font-weight: 300
				&:last-child
					margin-bottom: 0
			a
				margin-bottom: 15px	

	.btn-more
		border: 1px solid #dee0e0
		background: #fff
		border-radius: 15px	
		padding: 15px 0
		text-align: center
		text-transform: uppercase
		color: #0247a7	
		cursor: pointer
		display: block
		&:hover
			color: #fff
			background: #0247a0 
