.three-hero
	padding-top: 120px
	padding-bottom: 120px
	background: url("../img/three-bg.jpg") no-repeat center top / cover	!important
	strong
		font-size: 24px
		color: #fff

	h1
		text-transform: uppercase

.thanks-window
	z-index: 1
	.modal-part-two
		top: 52%
		z-index: -1
	.modal-part
		top: 52%
		z-index: -1

